* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.switch_wrapper {
  height: 100px;
  width: 200px;
  border-radius: 150px;
  position: relative;
  transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  left: 70px;
  box-shadow: #3e3eae40 0px 50px 100px -20px, #2c79b74d 0px 30px 60px -30px,
    #679cd141 -2px -3px 5px 0px inset;
}

.switch_btn {
  background-color: #d3e8ed;
  height: 75px;
  width: 75px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  transition: 0.1s linear;
  box-shadow: #2f84c540 0px 50px 100px -20px, #1d54ba4d 0px 30px 60px -30px,
    #3b758441 0px -1px 3px 1px;
}

.active {
  transform: translateX(-100px);
}

.active .switch_btn {
  transform: translate(95px, -50%);
  background-color: darkcyan;
  box-shadow: #2f84c540 0px 50px 100px -20px, #1d54ba4d 0px 30px 60px -30px,
    #3b758441 -1px -3px 3px 1px;
}

.day {
  background-color: #5bc7ee;
  height: 75px;
  width: 75px;
  position: relative;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.sun {
  position: relative;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translate(120%, -120%) scale(0.8);
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 17px white;
  border-radius: 50%;
}

.rays {
  position: relative;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ray-1,
.ray-2,
.ray-3,
.ray-4 {
  position: absolute;
  height: 120px;
  width: 20px;
  transform-origin: center;
  transform: rotate(45deg);
  clip-path: polygon(20% 0%, 40% 0%, 100% 100%, 0% 100%);
  background-color: #ffffff41;
  box-shadow: 0px 0px 10px 1px #ffffff4a inset;
}

.ray-1 {
  left: 20%;
  top: 10%;
  z-index: 100;
}

.ray-2 {
  left: 30%;
  top: 20%;
  transform: rotate(25deg);
}

.ray-3 {
  left: 73%;
  top: 24%;
  transform: rotate(-45deg);
}

.ray-4 {
  right: 90%;
  top: -10%;
  transform: rotate(95deg);
}

.land {
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: #136d15;
  bottom: 0px;
}

.tree {
  position: relative;
  height: 50px;
  width: 30px;
  bottom: 10px;
  left: 10px;
}

.tree .stem {
  background-color: brown;
  height: 70%;
  width: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0px;
  clip-path: polygon(50% 0%, 0% 100%, 70% 100%);
  z-index: -2;
}

.tree .leaves {
  background-color: #268b07;
  height: 60%;
  width: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -40%);
  bottom: -20px;
  border-radius: 50%;
  z-index: -1;
}

.tree .leaves::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #54aa1e;
  border-radius: 70%;
  bottom: -0px;
  right: 0px;
  box-shadow: -1px -1px 0px 0px #6db73f;
}

.tree .leaves::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #54aa1e;
  border-radius: 70%;
  top: 2px;
  left: 0px;
  box-shadow: 0px 1px 0px 0px #387711;
}

.shadow {
  position: absolute;
  height: 6px;
  width: 80%;
  background-color: #122612;
  bottom: -5px;
  border-radius: 50%;
  opacity: 0.5;
  left: -10px;
  filter: blur(2px);
}

.tree2 {
  position: absolute;
  bottom: 0px;
  transform: translate(15px, 10px) scale(0.3);
}

.tree3 {
  position: absolute;
  bottom: 7px;
  transform: translate(30px, 10px) scale(0.6);
}

.wing-1 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-top: 1px solid black;
  border-radius: 50%;
  top: 20px;
  left: 10px;
  transform: rotate(-10deg);
  transform-origin: right;
  animation: wing-flapping-left 1s ease-in-out infinite;
}

.wing-2 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-top: 1px solid black;
  border-radius: 50%;
  top: 20px;
  left: 15px;
  transform: rotate(10deg);
  transform-origin: left;
  animation: wing-flapping-right 1s ease-in-out infinite;
}

.bird-2 .wing-1 {
  left: 15px;
  top: 15px;
  height: 5px;
  width: 5px;
}

.bird-2 .wing-2 {
  left: 18px;
  top: 15px;
  height: 5px;
  width: 5px;
}

@keyframes wing-flapping-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wing-flapping-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
