* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.wrapper {
  position: relative;
  border: 1px solid darkcyan;
  border-inline: none;
  overflow: hidden;
}

.bottom-text {
  position: absolute;
}

h1 {
  font-family: "Monaco";
  cursor: pointer;
  font-size: 3rem;
}

.animate-letter {
  animation: animate-up 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  display: inline-block;
}

@keyframes animate-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
